<% provide :header_string, "Welcome to BabbleZone" %>

<h1 style="background-color:#f00;">Blogs#index</h1>
<p>Find me in app/views/blogs/index.html.erb</p>
<p><%= link_to "Sign Up", users_new_path %></p>
