// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

//Include our custom mixins
@import "mixins";

//Add top padding to body to make up for fixed navbar
body {
    padding-top: 60px;
}

//Bootstrap tweaks
.navbar-inner {
    background: none;
    border: none;
    .brand {
        margin-left: 20px;
        @include babble-text;
    }
    .nav {
        li {
            @include babble-text;
        }
        
        .dropdown {
            li {
                a {
                    color: #000;
                    text-shadow: none;
                }
            }
        }
        
        .active {
            @include babble-text;
            a {
                @include babble-style(0px);
            }
        }
    }
    @include babble-style(0px 0px 5px 5px);
}

//For the main banners - Should be tidied up when layout is more clear
#bz_banner {
    width: auto;
    height: auto;
    padding: 50px 20px 10px 20px;
    margin-bottom: 20px;
    
    @include babble-style(10px);
    @include babble-text;
}

.user_header {
    width: auto;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    
    @include babble-style(10px);
    @include babble-text;
}
//----------

//Styles signin form - Might be moved to appropriate scope
.signin-form {
    @include babble-style(10px);
    @include babble-text;
    padding: 20px;
}
//----------

//Allows for bottom-fixed span*-divs (remember offset* to position left)
.row-relative {
    position: relative;
}

.span-bottom {
    position: absolute;
    bottom:0px;
    left: -18px;
}
//----------

//Styles nav-pills to match babble-style
ul.nav-pills {
    .active {
        a {
            @include babble-style(5px);
        }
    }
}
//----------

//Easy drop shadow class
.drop-shadow {
    box-shadow: 2px 2px 2px #000;
}

//Misc. classes for debugging purposes
.bg-green {
    background-color: #0F0;
}

.bg-blue {
    background-color: #00F;
}
//----------