// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
    list-style: none;
    padding: 0px;
}

#user_container {
    background-color: #CCC;
    margin: 0px auto;
    padding: 15px 10px;
    width: 250px;
}